[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
django-debug-toolbar
pytz
sqlparse
wheel
django-queryinspect
uwsgi
psycopg2
django-easycart


[requires]

python_version = "3.6"
